/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Open Sans', sans-serif;
}

h1{
     font-size: 4rem;
     font-weight: bold;
}

h2{
     font-size: 1.5rem;
     font-weight: bold;
     margin: 20px 0 10px 0;
}

span{
     font-weight: 300;
     font-size: 1.2rem;
     margin-bottom: 10px;
     margin-top: 0px;
}

.error-text{
     vertical-align: middle;
     margin-left: 2vw;
     font-size: 1.5rem;
     display: none;
     position: absolute;
}

.error-text--active{
     display: flex;
     color: red;
}

input{
     outline: none;
     border: none;
     border-bottom: 1px solid #ccc;
     color: #ccc;
     width: 80vw;
}

header input{
     border-bottom: 2px solid #ccc;
     font-size: 2rem;
     font-weight: 300;
     transition: color .2s linear, border .2s linear;
}

main input{
     margin-top: 10px;
     font-size: 1rem;
}

label{
     font-weight: 300;
     font-size: 2rem;
     padding-right: 10px;
}

button{
     background: transparent;
     border: 1px solid #2e2e2e;
     border-radius: 50px;
     transition: background-color .2s linear, color .2s linear;
     font-size: 1.4rem;
     font-weight: 300;
     cursor: pointer;
     padding: 5px 15px;
     display: inline-block
}

main button{
     font-size: 1rem;
     padding: 5px 10px;
}

.reset{
     color: rgb(255, 86, 86);
     border: 1px solid rgb(255, 86, 86);
     margin-left: 10px;
}



button:hover{
     background: #2e2e2e;
     color: white;
}

.reset:hover{
     background-color: rgb(255, 86, 86);
     color: white;
}

.--red{
     color: rgb(255, 86, 86);
     border-bottom: 2px solid rgb(255, 86, 86);
}


.thumbnail{
     width: 50%;
     height: 100%;
}

.pageChange{
     width: fit-content;

}

.change{
     color: rgb(5, 194, 5);
     border: 1px solid rgb(5, 194, 5);
}

.change:hover{
     color: white;
     background: rgb(5, 194, 5);
}

.remove{
     color: rgb(255, 86, 86);
     border: 1px solid rgb(255, 86, 86);
     margin-left: 10px;
     border-radius: 500px;

}

.remove:hover{
     color: white;
     background: rgb(255, 86, 86);
}

/******************************************
/* LAYOUT
/*******************************************/
header{
     margin-bottom: 50px;
     padding: 30px 20px;
}

main{
     display: flex;
     flex-flow: wrap;
}

.row{
     /* display: flex; */
     margin: 20px 0 27px 0;
}

main .row{
     display: flex;
     flex-direction: row;
     justify-content: center;
}

main .row button{
     flex: 1;
}
main .row input{
     flex: 2;
     width: 100px;
}



@media screen and (max-width: 800px){
     main{
          justify-content: center;
     }

     .row {
          flex-direction: column;
          gap: 5vh;
     }

     h1{
          font-size: 3rem;
     }
}

.item{
     margin-right: 50px;
}

.book{
     flex: 0 1 33.3333%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 10px 30px;
     margin-bottom: 20px;
}

@media screen and (max-width: 800px){
     .book{
          width: 100%;
     }

     header .row{
          display: inherit;
     }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
